<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd">


	<context:annotation-config />

	<mvc:annotation-driven />
	<import resource="classpath*:/hospital-service-context.xml" />

	<bean id="passwordEncoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<constructor-arg name="strength" value="10" />
	</bean>

	<bean id="hospitalUserDetailService"
		class="com.acclaris.hospital.service.impl.HospitalUserDetailsServiceImpl" />

	<bean id="authProvider"
		class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<property name="userDetailsService" ref="hospitalUserDetailService" />
		<property name="passwordEncoder" ref="passwordEncoder" />
		<property name="hideUserNotFoundExceptions" value="false" />
	</bean>

	<security:authentication-manager alias="authentication-manager">
		<security:authentication-provider
			ref="authProvider" />
	</security:authentication-manager>


	<security:http pattern="/app/**" security="none" />
	<!-- <security:http pattern="/login/forgotpassword" security="none" /> <security:http 
		pattern="/login/sendpassword" security="none" /> <security:http pattern="/rs/**" 
		security="none" /> <security:http pattern="/endsession" security="none" /> 
		<security:http pattern="/resources/**" security="none" /> <security:http 
		pattern="/healthcheck/**" security="none" /> -->


	<security:http use-expressions="true" auto-config="false"
		disable-url-rewriting="true" create-session="ifRequired">
		<security:form-login login-page="/login"
			login-processing-url="/j_spring_security_check" authentication-success-handler-ref="authenticationSuccessHandler"
			authentication-failure-handler-ref="authenticationFailureHandler" />

		<security:custom-filter ref="authenticationFilter"
			before="FORM_LOGIN_FILTER" />
		<!-- <security:logout logout-url="/logout" delete-cookies="JSESSIONID" 
			success-handler-ref="logoutSuccessHandler" invalidate-session="true" /> <security:session-management 
			session-fixation-protection="newSession" /> <security:custom-filter ref="authenticationFilter" 
			before="FORM_LOGIN_FILTER" /> <security:access-denied-handler error-page="/login" 
			/> -->
		<security:access-denied-handler error-page="/login/error" />
		<security:csrf disabled="true" />
	</security:http>

	<bean name="authenticationFailureHandler"
		class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
		<property name="defaultFailureUrl" value="/login/error" />
	</bean>
	
	<bean name="authenticationSuccessHandler"
		class="org.springframework.security.web.authentication.SimpleUrlAuthenticationSuccessHandler">
		<constructor-arg name="defaultTargetUrl" value="/login/success" />
	</bean>
	<bean name="authenticationFilter"
		class="com.acclaris.hospital.authentication.filter.HospitalUserAuthenticationFilter">
		<property name="authenticationManager" ref="authentication-manager" />
		<property name="filterProcessesUrl" value="/j_spring_security_check" />
		<property name="authenticationFailureHandler" ref="authenticationFailureHandler" />
		<property name="authenticationSuccessHandler" ref="authenticationSuccessHandler" />
		<property name="allowSessionCreation" value="true" />

	</bean>
</beans>
