@CHARSET "ISO-8859-1";

@media only screen and (max-width: 1368px) {
	.page-container {
		background: #FFF none repeat scroll 0% 0% !important;
		justify-content: space-around !important;
		overflow: hidden !important;
		width: 51% !important;
		display: flex !important;
		height: auto !important;
		margin: auto !important;
		position: fixed !important;
		z-index: 99999 !important;
		left: 23% !important;
		box-shadow: 0px 0px 0px #fff !important;
		border-radius: 0px !important;
		border: 1px solid !important;
		top: 25% !important;
	}
}

@media only screen and (max-width: 1280px) {
	.page-container {
		justify-content: space-around !important;
		width: 78% !important;
		overflow: hidden !important;
		left: 11% !important;
		height: 19rem !important;
		top: 29% !important;
	}
}

form {
	width: 464px !important;
	margin-top: 10% !important;
	position: relative !important;
	margin-left: -91.5% !important;
	margin-bottom: auto !important;
}

.form-title {
	font-weight: bold !important;
	font-size: 18px !important;
	margin: 22px 308px -9px -19px !important;
	font-family: sans-serif !important;
	display: block !important;
}

.divider {
	position: absolute !important;
	vertical-align: middle !important;
	margin-top: 20px !important;
	background: transparent url("../img/divider.png") repeat-y scroll 0px
		-69px !important;
	height: 258px !important;
	width: 1px !important;
	margin-left: -24rem !important;
}

button[type="submit"], button[type="button"] {
	cursor: pointer !important;
	width: 46% !important;
	height: 42px !important;
	margin-left: -38px !important;
	margin-top: 20px !important;
	padding: 0px !important;
	background: #EF4300 none repeat scroll 0% 0% !important;
	border-radius: 6px !important;
	border: 1px solid #FF730E !important;
	box-shadow: 0px 15px 30px 0px rgba(255, 255, 255, 0.25) inset, 0px 2px
		7px 0px rgba(0, 0, 0, 0.2) !important;
	font-family: "PT Sans", Helvetica, Arial, sans-serif !important;
	font-size: 14px !important;
	font-weight: 700 !important;
	color: #FFF !important;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) !important;
	transition: all 0.2s ease 0s !important;
	text-decoration: none !important;
}

button[type="submit"]:hover, button[type="button"]:hover {
	-moz-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset, 0 2px 7px
		0 rgba(0, 0, 0, .2) !important;
	-webkit-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset, 0 2px
		7px 0 rgba(0, 0, 0, .2) !important;
	box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset, 0 2px 7px 0
		rgba(0, 0, 0, .2) !important;
	text-decoration: none !important;
}

button[type="submit"]:active, button[type="button"]:active {
	-moz-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset, 0 2px 7px
		0 rgba(0, 0, 0, .2) !important;
	-webkit-box-shadow: 0 15px 30px 0 rgba(255, 255, 255, .15) inset, 0 2px
		7px 0 rgba(0, 0, 0, .2) !important;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .1) inset, 0 1px 4px 0
		rgba(0, 0, 0, .1) !important;
	border: 0px solid #ef4300 !important;
	text-decoration: none !important;
}

input {
	width: 88% !important;
	height: 42px !important;
	margin-left: 12px !important;
	margin-top: 30px !important;
	padding: 0px 15px !important;
	background: rgba(45, 45, 45, 0.15) none repeat scroll 0% 0% !important;
	border-radius: 6px !important;
	border: 1px solid rgba(255, 255, 255, 0.15) !important;
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1) inset !important;
	font-family: "PT Sans", Helvetica, Arial, sans-serif !important;
	font-size: 14px !important;
	color: #000 !important;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) !important;
	transition: all 0.2s ease 0s !important;
}

input:required {
	width: 88% !important;
	height: 42px !important;
	margin-left: 12px !important;
	margin-top: 30px !important;
	padding: 0 15px !important;
	background: #2d2d2d url(../img/asterisk.png) no-repeat 98% center
		!important;
	/* browsers that don't support rgba */
	background: rgba(45, 45, 45, .15) url(../img/asterisk.png) no-repeat 98%
		center !important;
	-moz-border-radius: 6px !important;
	-webkit-border-radius: 6px !important;
	border-radius: 6px !important;
	border: 1px solid #3d3d3d !important;
	/* browsers that don't support rgba */
	border: 1px solid rgba(255, 255, 255, .15) !important;
	-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset !important;
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset !important;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset !important;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif !important;
	font-size: 14px !important;
	color: black !important;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .1) !important;
	-o-transition: all 0s !important;
	-moz-transition: all 0s !important;
	-webkit-transition: all 0s !important;
	-ms-transition: all 0s !important;
}

input:focus:invalid, input:hover:invalid {
	width: 88% !important;
	height: 42px !important;
	margin-left: 12px !important;
	margin-top: 30px !important;
	padding: 0 15px !important;
	background: #2d2d2d url(../img/invalid.png) no-repeat 98% center
		!important;
	/* browsers that don't support rgba */
	background: rgba(45, 45, 45, .15) url(../img/invalid.png) no-repeat 98%
		center !important;
	-moz-border-radius: 6px !important;
	-webkit-border-radius: 6px !important;
	border-radius: 6px !important;
	border: 1px solid #3d3d3d !important;
	/* browsers that don't support rgba */
	border: 1px solid rgba(255, 255, 255, .15) !important;
	-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset !important;
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset !important;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset !important;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif !important;
	font-size: 14px !important;
	color: black !important;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .1) !important;
	-o-transition: all 0s !important;
	-moz-transition: all 0s !important;
	-webkit-transition: all 0s !important;
	-ms-transition: all 0s !important;
	box-shadow: 0 0 5px #fe2701 !important;
	-moz-box-shadow: 0 0 5px #fe2701 !important;
	-webkit-box-shadow: 0 0 5px #fe2701 !important;
	border-color: #fe2701 !important;
}

input:focus:valid, input:hover:valid {
	width: 88% !important;
	height: 42px !important;
	margin-left: 12px !important;
	margin-top: 19px !important;
	padding: 0 15px !important;
	background: #2d2d2d url(../img/valid.png) no-repeat 98% center
		!important;
	/* browsers that don't support rgba */
	background: rgba(45, 45, 45, .15) url(../img/valid.png) no-repeat 98%
		center !important;
	-moz-border-radius: 6px !important;
	-webkit-border-radius: 6px !important;
	border-radius: 6px !important;
	border: 1px solid #3d3d3d !important;
	/* browsers that don't support rgba */
	border: 1px solid rgba(255, 255, 255, .15) !important;
	-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset !important;
	-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset !important;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset !important;
	font-family: 'PT Sans', Helvetica, Arial, sans-serif !important;
	font-size: 14px !important;
	color: black !important;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .1) !important;
	-o-transition: all 0s !important;
	-moz-transition: all 0s !important;
	-webkit-transition: all 0s !important;
	-ms-transition: all 0s !important;
	box-shadow: 0 0 5px #53fe01 !important;
	-moz-box-shadow: 0 0 5px #53fe01 !important;
	-webkit-box-shadow: 0 0 5px #53fe01 !important;
	border-color: #53fe01 !important;
}

.info-data {
	background-repeat: no-repeat !important;
	background-position: 10px center !important;
	width: 18rem !important;
	padding: 20px 10px 15px 55px !important;
	margin-left: -22rem !important;
	margin-top: 10px !important;
}

.btn_close {
	display: none !important;
}

.errorinfo {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border: 1px solid;
	margin: 57px 601px auto -58.3rem;
	background-repeat: no-repeat;
	background-position: 10px center;
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url("../img/error.png");
	display: block !important;
	width: 20rem;
	height: 33px;
	padding-top: 0.2rem;
	padding-left: 2rem;
	border-radius: 0px;
	text-align: left;
}